* {
    margin: 0;
    padding: 0;
    } /* removes all the default padding on my page */


.text-highlight {
    color: rgb(255, 57, 57);
} /* highlights my name */

h1 {
    text-align: center;
    text-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: #191516;
    color: #AB2346;
    padding: 15px;
    text-align:center ;
    grid-area: header;
    animation: myAnimation 7s infinite ease-in-out;
    
}
main p {
    text-align: center;
}


nav {
    background-color: #191516;
    grid-area: nav;
    padding: 2em;
    
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


main {
    display: flex;  /* display flex so I can edit the size of the images in the main */
    flex-direction: column;   
    align-items: center;         /* i wanted all the items in the main to be centered */
    justify-content: center;
    color: white;
    grid-area: main;
    width: 100%;
    padding: 5em;
    background: linear-gradient(to right, #000000, #31151c);
    align-items: center;
    justify-content: center;    
    height: 100vh;

}


footer {
    display: flex;
    background-color: rgb(7, 14, 15);
    color: rgb(123, 255, 71);
    grid-area: footer;
    margin-top: auto;
    justify-content: center;
}


i {
    font-size: 4em;
}

@keyframes myAnimation {
    0% {background-color: #191516}
    60% {background-color: rgb(94, 15, 15)}
    100% {background-color: black}
}