* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 6fr auto;
    grid-template-areas: 
        "header" 
        "nav" 
        "main"
        "footer";
    height: 100%;
}

header {
    background-color: #191516;
    color: #AB2346;
    padding: 15px;
    text-align: center;
    grid-area: header;
}

nav {
    background-color: #191516;
    color: #fff;
    grid-area: nav;
    padding: 2em;
    text-align: center;
}

footer {
    display: flex;
    background-color: rgb(7, 14, 15);
    color: rgb(123, 255, 71);
    grid-area: footer;
    justify-content: center;
    padding: 1em;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1em;
    overflow: auto; 
}

main div {
    padding: 2em;
    background-color: #AB2346;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main div i {
    font-size: 4em;
    color: white;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #AB2346;
}

nav a:hover {
    color: #ff5733;
    text-decoration: underline;
}

nav ul {
    display: flex;
    justify-content: space-around;
}
