* {
    margin: 0;
    padding: 0;
    }

body {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;
    grid-template-areas: 
    "header nav nav"
    "main main aside"
    "footer footer footer";
    
    
}

header {
    background-color: red;
    color: white;
    padding: 15px;
    text-align:center ;
    grid-area: header;
}

nav {
    background-color: rgb(194, 255, 96);
    grid-area: nav;
    padding: 2em;
}


main {
    background-color: rgb(0, 204, 255);
    color: white;
    grid-area: main;
    width: 100%;
    padding: 2em;
    
    
    
}

aside {
    background-color: rgb(236, 16, 137);
    grid-area: aside;
    padding: 2em;
    margin-left: 40px;
}

footer {
    background-color: rgb(7, 14, 15);
    color: rgb(123, 255, 71);
    grid-area: footer
}
