* {
    margin: 0;
    padding: 0;
    } /* removes all the default padding on my page */

html, body {
        height: 100%;
        margin: 0;
    }


body {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto 1fr auto; /* This lines helps the footer stay at the bottom of the screen */
    grid-template-areas: 
    "header nav nav nav"
    "main main main aside"
    "footer footer footer footer";
    height: 100%;
    
    
}

.text-highlight {
    color: rgb(255, 57, 57);
} /* highlights my name */

h1 {
    text-align: center;
    text-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

header {
    background-color: #191516;
    color: #AB2346;
    padding: 15px;
    text-align:center ;
    grid-area: header;
    
}
main p {
    text-align: center;
}


nav {
    background-color: #191516;
    grid-area: nav;
    padding: 2em;
    
}


main {
    display: flex;  /* display flex so I can edit the size of the images in the main */
    flex-direction: column;   
    align-items: center;         /* i wanted all the items in the main to be centered */
    justify-content: center;
    color: white;
    grid-area: main;
    width: 95%;
    padding: 5em;
    background: linear-gradient(to right, #000000, #31151c);
    align-items: center;
    justify-content: center;    
    height: 100vh;

}

aside {
    display: flex; /* added flex here so the images align evenly down the screen */
    background: linear-gradient(to right, #31151c, #000000);
    grid-area: aside;
    padding: 2em;
    margin-left: 40px;
    width: auto;
    flex-direction: column;  /* want my items to flex vertically */
    justify-content: space-around;
    height: auto; /* adding auto helped stop the aside bar from overlfowing */

    
}

footer {
    display: flex;
    background-color: rgb(7, 14, 15);
    color: rgb(123, 255, 71);
    grid-area: footer;
    margin-top: auto;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: #AB2346
}

nav a:hover {  /* highlight the nav bar when hovered over */
    color: #ff5733; 
    text-decoration: underline; 
}

nav li {
    list-style: none;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

#htmlImage img {
    height: 10em; 
    width: auto;
    margin-bottom: 20px;
    padding-left: 50px;
}

#pythonImage img {
    height: 10em; 
    width: auto;
    margin-bottom: 20px; 
    padding-left: 50px;
}

#javaImage img {
    height: 10em; 
    width: auto;
    margin-bottom: 20px; /* no padding on this image because it was already slightly to the right */
}

#cssImage img {
    height: 10em; 
    width: auto;
    margin-bottom: 20px;
    padding-left: 60px;
}

#bitImage {
    max-width: 100%;             
    height: auto;               
    align-self: center;           /* Center the image vertically within the flex container */
}