body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "aside"
    "footer";
    height: 100%;
}

aside {
    display: flex;
    background: linear-gradient(to right, #31151c, #000000);
    grid-area: aside;
    padding: 2em;
    width: auto;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
}

main img {
    width: 100%;         
    max-width: 20px;   
    height: auto;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    grid-area: main;
    width: auto;
    padding: 5em;
    background: linear-gradient(to right, #000000, #31151c);
    height: 100vh;
}

.showNav {
    height: 0.8em;
    width: 1.25em;
    display: block;
    border-top: 0.2em solid white;
    border-bottom: 0.2em solid white;
    position: relative;
    cursor: pointer;
}

.showNav::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 1.25em;
    height: 0.2em;
    background-color: white;
    transform: translateY(-50%);
}

nav {
    display: none;
    background-color: yellow;
    position: fixed;
    top: 0;
    left: 50%;
    width: 16%;
    height: 19vh;
}

#clicked:target nav {
    display: block;
}

#clicked:target .showNav {
    display: none;
}
