* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 6fr auto;
    grid-template-areas: 
        "header" 
        "nav" 
        "main"
        "footer";
    height: 100%;
    background-color: #191516;  /* Keeps the background color the same */
}

header {
    background-color: #191516;
    color: #AB2346;
    padding: 15px;
    text-align: center;
    grid-area: header;
}

nav {
    background-color: #191516;
    color: #fff;
    grid-area: nav;
    padding: 2em;
    text-align: center;
}

nav ul {
    list-style: none; /* Remove bullet points */
    display: flex;
    justify-content: space-around;
    padding: 0;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    color: #AB2346;
}

nav a:hover {
    color: #ff5733;
    text-decoration: underline;
}

footer {
    display: flex;
    background-color: rgb(7, 14, 15);
    color: rgb(123, 255, 71);
    grid-area: footer;
    justify-content: center;
    padding: 1em;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-area: main;
    justify-items: center;
    align-items: center;
    background: linear-gradient(to right, #000000, #31151c);
    padding: 1em;
}

.base.Doc {
    width: 80%;
    max-width: 800px;
    min-height: 500px;
    box-shadow: 0px 0px 10px rgba(14, 12, 12, 0.1);
    background-color: #ffffff;
    padding: 2em;
    border-radius: 8px;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-y: auto;
}
